body {
  margin: 0;
  font-family: yekan, sans-serif;
  background-color: #fff6ea;
  margin-top: 50px;
}
header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: lightseagreen;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
}
header .right-section {
  /* background-color: lightblue; */
}
nav {
  padding: 0;
}
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}
nav li {
  padding-right: 10px;
}
nav ul li a {
  color: #000000;
  text-decoration: none;
}
header .mid-section {
  /* background-color: lightskyblue; */
}
header .left-section {
  /* background-color: lightgreen; */
  display: flex;
  align-items: center;
}
.left-section img {
  margin-left: 10px;
}
.left-section img:hover {
  cursor: pointer;
}
.backshopsidebar {
  background-color: #000000bc;
  width: 100%;
  height: 100vh;
  z-index: 10001;
  position: fixed;
  top: 0;
  left: 250px;
  display: none;
}
.shopsidebar {
  background-color: white;
  width: 235px;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  height: 100%;
  display: none;
  padding: 15px;
  overflow-y: scroll;
}
#closebtn {
  background: none;
  border: none;
  color: red;
  font-size: large;
  float: left;
  transition: 0.2s;
}
#closebtn:hover {
  cursor: pointer;
  scale: 1.1;
}
.shopitems {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-box {
  /* background-color: lightcoral; */
  text-align: center;
  width: 50%;
}
#search-box {
  border-radius: 10px;
  margin: 15px;
  border: solid 1px;
}
section {
  display: flex;
  justify-content: space-evenly;
}
.sidebar {
  background-color: lightseagreen;
  border-radius: 15px;
  padding: 20px;
}
.sidebar-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foodlists {
}
.foodbox {
  display: flex;
  align-items: center;
  width: 700px;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
}
.foodbox:hover {
  cursor: pointer;
}
.item {
  /* background-color: lightcoral; */
}
.caption {
  /* background-color: lightsalmon; */
  margin: 0;
}
.caption h6 {
  color: #8d8d8d;
  margin: 0;
}
.caption h4 {
  margin: 0;
}
.caption h3 {
  color: #00a850;
}
.caption img {
  background-color: rgb(231, 231, 231);
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
  transition: 0.2s;
}
.caption img:hover {
  background-color: #00a850;
}
.image img {
  border-radius: 10px;
}
.shop-modal {
  background-color: #00a850;
  width: 250px;
  left: 20px;
  bottom: 20px;
  position: fixed;
  display: none;
  transition: 1s;
}
.shop-modal input {
  margin: 0 10px 10px 0;
  background-color: orange;
  border: none;
  color: white;
  padding: 5px;
  font-size: large;
  font-family: yekan;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  body {
    background-color: #000000;
  }
  .foodbox {
    width: 500px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  ...;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  ...;
}
